.top {
    height: 110px;
    background-color: #ffffff;
}

.top .left {
    height: 55px;
    width: 150px;
    position: relative;
    float: left;
    margin: 35px 0 0 30px;
}

.top .left .eye {
    display: inline-block;
    width: 45px;
    height: 55px;
    background: url(../img/eye\,seach.png) -14px -4px;
}

.top .left .eyeList {
    display: inline-block;
    width: 95px;
    background: url(../img/dian.png) no-repeat 85px center;
    position: absolute;
    top: 22px;
    padding-left: 10px;
}

.top .left .leftU {
    width: 85px;
    border: 1px solid #C9C9C9;
    text-align: center;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: 7px;
    top: 20px;
    z-index: 2;
    display: none;
}

.top .left .eyeList:hover ul {
    color: red;
    display: block;
}

.top .center {
    width: 160px;
    height: 60px;
    float: left;
    margin: 25px 0 0 350px;
}

.top .center img {
    width: 100%;
    height: 100%;
}

.top .right {
    width: 440px;
    float: left;
    margin: 45px 0 0 210px;
}

.top .right .login {
    width: 80px;
    display: inline-block;
    background: url(../img/right.png) -6px -42px no-repeat;
    margin-right: 40px;
}

.top .right .login a {
    text-indent: 20px;
    display: block;
}

.top .right .login a:hover {
    text-decoration: underline;
    color: red;
}

.top .right .myOrder {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/dian.png) no-repeat 55px center;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
}

.top .right .orderList {
    width: 75px;
    border: 1px solid #C9C9C9;
    text-align: center;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 2;
    display: none;
}

.top .right .myOrder:hover .orderList {
    display: block;
}

.top .right .peripheral {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/dian.png) no-repeat 55px center;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
}

.top .right .perList {
    width: 225px;
    border: 1px solid #C9C9C9;
    line-height: 24px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: -70px;
    top: 20px;
    z-index: 2;
    font-size: 12px;
    display: none;
}

.top .right .peripheral:hover .perList {
    display: block;
}

.top .right .helpCenter {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/dian.png) no-repeat 55px center;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
}

.top .right .helpList {
    width: 65px;
    border: 1px solid #C9C9C9;
    line-height: 24px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 2;
    font-size: 12px;
    display: none;
}

.top .right .helpCenter:hover .helpList {
    display: block;
}

.top .right .mobileCenter {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/right.png) no-repeat -10px -77px;
    text-indent: 12px;
    position: relative;
}

.top .right .mobileList {
    width: 150px;
    height: 182px;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: -86px;
    background: url(../img/weixin.png);
    display: none;
}

.top .right .mobileCenter:hover .mobileList {
    display: block;
}

.navWarp {
    height: 60px;
}

.nav {
    width: 1120px;
    height: 60px;
    margin: 0 auto;
    background-color: #282725;
}

.nav .left {
    display: block;
    width: 160px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    background-color: #a01f23;
    color: #ffffff;
    font-weight: bolder;
    float: left;
}

.nav .right {
    width: 610px;
    height: 60px;
    display: block;
    margin-left: 16px;
    background: url(../img/buy_liucheng.jpg) no-repeat;
    float: left;
}

.cartTable {
    width: 1120px;
    margin: 5px auto 0;
}

.tableTit {
    height: 45px;
    font-size: 14px;
    font-weight: bolder;
    background-color: #e7e7e7;
}

.tableTit li:nth-child(1) {
    width: 60px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
}

.tableTit li:nth-child(2) {
    width: 420px;
    height: 45px;
    line-height: 45px;
    text-align: left;
    text-indent: 20px;
    float: left;
}

.tableTit li:nth-child(3) {
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
}

.tableTit li:nth-child(4) {
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
}

.tableTit li:nth-child(5) {
    width: 110px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
}

.tableTit li:nth-child(6) {
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
}


/* .cartList {
    border: 1px solid red;
} */

.foodList {
    height: 130px;
}

.foodList li:nth-child(1) {
    width: 60px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    float: left;
}

.foodList li:nth-child(2) {
    width: 420px;
    height: 128px;
    text-align: left;
    float: left;
}

.foodList li:nth-child(2) a {
    display: block;
    width: 90px;
    height: 112px;
    float: left;
}

.foodList li:nth-child(2) a img {
    width: 100%;
    height: 100%;
}

.foodList li:nth-child(2) div {
    width: 280px;
    height: 95px;
    float: left;
    padding-top: 20px;
}

.foodList li:nth-child(2) div a {
    width: 100%;
    display: block;
    height: 24px;
    line-height: 24px;
    color: #000000;
}

.foodList li:nth-child(2) div span {
    display: block;
    line-height: 20px;
    color: #555555;
}

.foodList li:nth-child(3) {
    width: 180px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #000000;
}

.foodList li:nth-child(4) {
    width: 180px;
    height: 128px;
    text-align: center;
    float: left;
}

.foodList li:nth-child(4) div {
    border: 1px solid #cececc;
    width: 90px;
    height: 30px;
    margin: 55px auto 0;
}

.foodList li:nth-child(4) div span {
    display: block;
    width: 20px;
    height: 30px;
    float: left;
}

.foodList li:nth-child(4) div span img {
    width: 100%;
    height: 100%;
}

.foodList li:nth-child(4) div input {
    width: 50px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
}

.foodList li:nth-child(5) {
    width: 110px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    float: left;
}

.foodList li:nth-child(5) .product {
    font-size: #a01f23;
}

.foodList li:nth-child(6) {
    width: 150px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    float: left;
}

.foodList li:nth-child(6) a {
    margin-right: 10px;
    color: #666666;
}

.foodList li:nth-child(6) a:hover {
    text-decoration: underline;
}

.deleteChoose {
    height: 46px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.deleteChoose i {
    display: block;
    color: #a01f23;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.deleteChoose span {
    float: right;
    color: #666666;
    margin-top: 20px;
    display: block;
}

.Settlement {
    height: 65px;
    background-color: #e7e7e7e7;
    margin-top: 20px;
    line-height: 65px;
    font-size: 14px;
    color: #a01f23;
}

.Settlement input:nth-child(1) {
    margin-left: 15px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.Settlement span:nth-child(2) {
    margin-right: 435px;
}

.Settlement span:nth-child(3) {
    margin-right: 20px;
}

.Settlement input:nth-child(5) {
    margin-left: 8px;
    width: 190px;
    height: 65px;
    background-color: #a01723;
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
}

.collectItemsWarp {
    width: 1120px;
    height: 355px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.itemsTit {
    height: 40px;
    background: url(../img/hea_bj.png) no-repeat 0px 10px;
}

.itemsTit h3 {
    height: 40px;
    line-height: 40px;
    text-indent: 25px;
    font-size: 18px;
    font-weight: bolder;
    color: #282725;
}

.collectItemsListWarp {
    height: 310px;
    border-top: 2px solid #282725;
    background: url(../img/listbottom_bj.jpg) center top repeat-y;
}

.collectItemsList {
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.collectItemsList li {
    width: 159px;
    height: 300px;
    padding-top: 10px;
    float: left;
}

.collectItemsList li .itemsImg {
    display: block;
    height: 196px;
    margin-bottom: 6px;
}

.collectItemsList li .itemsImg img {
    width: 140px;
    height: 100%;
    margin: 0 auto;
}

.collectItemsList li .itemsName {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}

.collectItemsList li .itemsName:hover {
    text-decoration: underline;
}

.collectItemsList li .itemsPri {
    font-size: 12px;
    text-align: center;
    margin: 0 0 10px 0;
    color: #999999;
}

.collectItemsList li .itemsPri .left {
    color: #ee4727;
    margin-right: 15px;
}

.collectItemsList li .joinCar {
    width: 90px;
    height: 28px;
    border: 1px solid #999999;
    line-height: 28px;
    margin: 0 auto;
    color: #333333;
    display: block;
    text-align: center;
}

.littleBanWarp {
    height: 240px;
    margin-top: 60px;
}

.littleBan {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
}

.littleBan a {
    display: block;
    width: 1200px;
    height: 240px;
}

.littleBan a img {
    width: 100%;
    height: 100%;
}

.xianBj {
    width: 1200px;
    margin: 50px auto;
    height: 10px;
    background: url(../img/border-bott.png);
}

.qualityWarp {
    height: 200px;
}

.quality {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    background: url(../img/bott.png) no-repeat;
}

.afterSeSrvWarp {
    width: 1120px;
    height: 180px;
    margin: 0 auto;
    border-bottom: 1px solid #cecece;
}

.afterSeSrv {
    width: 1120px;
    height: 180px;
}

.afterSeSrv li {
    float: left;
    width: 215px;
    padding-left: 16px;
}

.afterSeSrv li h3 {
    font-weight: bold;
    line-height: 50px;
}

.afterSeSrv li .seSrvProj a {
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.afterSeSrv li a {
    display: block;
    line-height: 28px;
    color: #666666;
    font-size: 14px;
}

.afterSeSrv li:nth-child(5) {
    width: 125px;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #cecece;
}

.afterSeSrv li .weiChat {
    background: url(../img/bottom.png) -8px -400px;
    width: 125px;
    height: 130px;
}

.footer {
    height: 120px;
    overflow: hidden;
}

.footBj {
    background: url(../img/bottom.png) -8px -308px no-repeat;
    width: 815px;
    height: 85px;
    /* border: 1px solid red; */
    margin: 0 auto;
    overflow: hidden;
}

.policemen {
    width: 36px;
    height: 50px;
    margin-top: 35px;
    float: left;
    margin-left: 235px;
}

.policemen a {
    display: inline-block;
    width: 36px;
    height: 50px;
}

.policemen a img {
    width: 100%;
    height: 100%;
}

.inFor {
    font-size: 13px;
    color: #333333;
    margin-top: 35px;
    float: left;
    margin-left: 10px;
}