.top {
    height: 110px;
    background-color: #ffffff;
}

.top .left {
    height: 55px;
    width: 150px;
    position: relative;
    float: left;
    margin: 35px 0 0 30px;
}

.top .left .eye {
    display: inline-block;
    width: 45px;
    height: 55px;
    background: url(../img/eye\,seach.png) -14px -4px;
}

.top .left .eyeList {
    display: inline-block;
    width: 95px;
    background: url(../img/dian.png) no-repeat 85px center;
    position: absolute;
    top: 22px;
    padding-left: 10px;
}

.top .left .leftU {
    width: 85px;
    border: 1px solid #C9C9C9;
    text-align: center;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: 7px;
    top: 20px;
    z-index: 2;
    display: none;
}

.top .left .eyeList:hover ul {
    color: red;
    display: block;
}

.top .center {
    width: 160px;
    height: 60px;
    float: left;
    margin: 25px 0 0 350px;
}

.top .center img {
    width: 100%;
    height: 100%;
}

.top .right {
    width: 440px;
    float: left;
    margin: 45px 0 0 215px;
}

.top .right .login {
    width: 80px;
    display: inline-block;
    background: url(../img/right.png) -6px -42px no-repeat;
    margin-right: 40px;
}

.top .right .login a {
    text-indent: 20px;
    display: block;
}

.top .right .login a:hover {
    text-decoration: underline;
    color: red;
}

.top .right .myOrder {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/dian.png) no-repeat 55px center;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
}

.top .right .orderList {
    width: 75px;
    border: 1px solid #C9C9C9;
    text-align: center;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 2;
    display: none;
}

.top .right .myOrder:hover .orderList {
    display: block;
}

.top .right .peripheral {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/dian.png) no-repeat 55px center;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
}

.top .right .perList {
    width: 225px;
    border: 1px solid #C9C9C9;
    line-height: 24px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: -70px;
    top: 20px;
    z-index: 2;
    font-size: 12px;
    display: none;
}

.top .right .peripheral:hover .perList {
    display: block;
}

.top .right .helpCenter {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/dian.png) no-repeat 55px center;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
}

.top .right .helpList {
    width: 65px;
    border: 1px solid #C9C9C9;
    line-height: 24px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    background: #FFF;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 2;
    font-size: 12px;
    display: none;
}

.top .right .helpCenter:hover .helpList {
    display: block;
}

.top .right .mobileCenter {
    display: inline-block;
    width: 60px;
    height: 14px;
    background: url(../img/right.png) no-repeat -10px -77px;
    text-indent: 12px;
    position: relative;
}

.top .right .mobileList {
    width: 150px;
    height: 182px;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: -86px;
    background: url(../img/weixin.png);
    display: none;
}

.top .right .mobileCenter:hover .mobileList {
    display: block;
}

.nav {
    height: 47px;
    background-color: #f0f0f0;
    position: relative;
}

.navList {
    width: 725px;
    height: 30px;
    padding-top: 15px;
    overflow: hidden;
    margin-left: 215px;
    display: inline-block;
}

.navList li {
    float: left;
    height: 20px;
    line-height: 20px;
    border-right: 1px solid #7c7b7b;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
}

.navList li a {
    color: #7c7b7b;
    font-size: 14px;
    font-weight: bolder;
}

.navList li:hover {
    text-decoration: underline;
}

.navList li:nth-child(6) {
    border: none;
}

.nav #spe {
    height: 30px;
    border-bottom: 1px solid #7c7b7b;
    position: absolute;
    top: 8px;
}

.nav #sub {
    background: url(../img/eye\,seach.png) -24px -69px no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 1111px;
}

.cartDelWarp {
    height: 660px;
}

.cartDel {
    width: 1150px;
    height: 660px;
    margin: 0 auto;
}

.cartDel .left {
    width: 550px;
    height: 660px;
    background: #f0f0f0;
    float: left;
    margin-right: 25px;
}

.cartDel .leftImg {
    width: 540px;
    height: 540px;
}

.cartDel .leftImg img {
    width: 100%;
    height: 100%;
}

.cartDel .left .imgListWarp {
    height: 60px;
}

.cartDel .left .imgListWarp .imgList {
    height: 60px;
    margin-left: 120px;
}

.imgList li {
    width: 60px;
    height: 60px;
    border: 1px solid #d8dad9;
    float: left;
}

.imgList li img {
    width: 100%;
    height: 100%;
}

.cartDel .right {
    width: 550px;
    height: 660px;
    float: left;
    margin-right: 25px;
}

.cartDel .right .foodName {
    height: 50px;
    padding-top: 5px;
}

.cartDel .right .foodName h3 {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: normal;
}

.cartDel .right .foodInf {
    line-height: 18px;
    font-size: 15px;
    color: #555555;
    padding-bottom: 10px;
}

.cartDel .right .coupon {
    height: 100px;
    margin-top: 6px;
    background: url(../img/show_jiage_bj.jpg);
}

.cartDel .right .coupon p {
    padding-top: 15px;
}

.cartDel .right .coupon p span:nth-child(1) {
    color: #555555;
    display: inline-block;
    width: 60px;
    text-align: center;
}

.cartDel .right .coupon p span:nth-child(2) {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #a01f23;
}

.cartDel .right .coupon p span:nth-child(3) {
    display: inline-block;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: #a01f23;
    margin-right: 5px;
}

.cartDel .right .coupon p span:nth-child(4) {
    background: url(../img/jiage.png)no-repeat 0px -22px;
    display: inline-block;
    width: 8px;
    height: 20px;
    margin: 0;
}

.cartDel .right .coupon p span:nth-child(5) {
    width: 50px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #A01723;
    margin-left: -4px;
}

.sales {
    height: 78px;
    padding-top: 12px;
    line-height: 22px;
    border-bottom: 1px dotted #cccccc;
}

.salesList {
    height: 78px;
    color: #555555;
}

.salesList li:nth-child(1) {
    width: 160px;
    height: 78px;
    float: left;
    text-align: center;
    border-right: 1px solid #e8e7e7;
}

.salesList li:nth-child(1) span:nth-child(1) {
    font-size: 16px;
}

.salesList li:nth-child(2) {
    width: 160px;
    height: 78px;
    float: left;
    text-align: center;
    border-right: 1px solid #e8e7e7;
}

.salesList li:nth-child(2) a {
    font-size: 16px;
    color: #cc4727;
}

.salesList li:nth-child(3) {
    width: 160px;
    height: 78px;
    float: left;
    text-align: center;
}

.salesList li:nth-child(3) span:nth-child(1) {
    font-size: 16px;
}

.salesList li:nth-child(3) a {
    display: inline-block;
    background: url(../img/show_base.png) -105px -90px;
    text-indent: 17px;
}

.kindSize {
    height: 115px;
}

.kindSize .kind {
    height: 72px;
}

.kindList {
    padding-top: 12px;
    height: 60px;
}

.kindList span:nth-child(1) {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #555555;
    float: left;
    text-align: center;
}

.kindList li {
    display: block;
    width: 70px;
    height: 60px;
    float: left;
    border: 2px solid #a01f23;
}

.kindList li img {
    width: 100%;
    height: 100%;
}

.kindSize .size {
    height: 42px;
}

.sizeList {
    padding-top: 12px;
    height: 30px;
}

.sizeList span:nth-child(1) {
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #555555;
    float: left;
    text-align: center;
}

.sizeList span:nth-child(2) {
    display: block;
    width: 45px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    float: left;
    border: 2px solid #a01f23;
    color: #333333;
}

.num {
    height: 40px;
    padding-top: 12px;
}

.num .numN {
    display: block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    color: #555555;
    float: left;
    text-align: center;
}

.num div {
    float: left;
    border: 1px solid #cececc;
    width: 90px;
    height: 30px;
    /* margin: 10px 0 0 60px; */
}

.num div span {
    display: block;
    width: 20px;
    height: 30px;
    float: left;
}

.num div span img {
    width: 100%;
    height: 100%;
}

.num div input {
    width: 50px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
}

.buy {
    height: 60px;
    padding-top: 12px;
}

.buy p:nth-child(1) {
    display: inline-block;
    width: 158px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #ffffff;
    background-color: #a01f23;
    font-size: 18px;
    margin-left: 60px;
}

.buy p:nth-child(2) {
    display: inline-block;
    width: 132px;
    height: 48px;
    padding-left: 35px;
    text-align: center;
    line-height: 48px;
    color: #a01f23;
    background: url(../img/guwuche.jpg) #ffcccc;
    font-size: 18px;
    margin-left: 20px;
}

.free {
    padding-top: 12px;
    text-indent: 60px;
    color: #a01f23;
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 10px;
}

.favorites {
    margin-top: 12px;
}

.favorites a {
    display: block;
    margin-left: 60px;
    width: 180px;
    color: #666666;
    text-indent: 22px;
    background: url(../img/show_base.png) -10px -167px no-repeat;
}

.collectItemsWarp {
    width: 1120px;
    height: 355px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.itemsTit {
    height: 40px;
    background: url(../img/hea_bj.png) no-repeat 0px 10px;
}

.itemsTit h3 {
    height: 40px;
    line-height: 40px;
    text-indent: 25px;
    font-size: 18px;
    font-weight: bolder;
    color: #282725;
    display: inline-block;
}

.itemsTit span {
    width: 82px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    background: #999999;
    margin-left: 925px;
}

.collectItemsListWarp {
    height: 310px;
    border-top: 2px solid #282725;
    background: url(../img/listbottom_bj.jpg) center top repeat-y;
}

.collectItemsList {
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.collectItemsList li {
    width: 159px;
    height: 300px;
    padding-top: 10px;
    float: left;
}

.collectItemsList li .itemsImg {
    display: block;
    height: 196px;
    margin-bottom: 6px;
}

.collectItemsList li .itemsImg img {
    width: 140px;
    height: 100%;
    margin: 0 auto;
}

.collectItemsList li .itemsName {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}

.collectItemsList li .itemsName:hover {
    text-decoration: underline;
}

.collectItemsList li .itemsPri {
    font-size: 12px;
    text-align: center;
    margin: 0 0 10px 0;
    color: #999999;
}

.collectItemsList li .itemsPri .left {
    color: #ee4727;
    margin-right: 15px;
}

.collectItemsList li .joinCar {
    width: 90px;
    height: 28px;
    border: 1px solid #999999;
    line-height: 28px;
    margin: 0 auto;
    color: #333333;
    display: block;
    text-align: center;
}

.littleBanWarp {
    height: 240px;
    margin-top: 60px;
}

.littleBan {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
}

.littleBan a {
    display: block;
    width: 1200px;
    height: 240px;
}

.littleBan a img {
    width: 100%;
    height: 100%;
}

.xianBj {
    width: 1200px;
    margin: 50px auto;
    height: 10px;
    background: url(../img/border-bott.png);
}

.qualityWarp {
    height: 200px;
}

.quality {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    background: url(../img/bott.png) no-repeat;
}

.afterSeSrvWarp {
    width: 1120px;
    height: 180px;
    margin: 0 auto;
    border-bottom: 1px solid #cecece;
}

.afterSeSrv {
    width: 1120px;
    height: 180px;
}

.afterSeSrv li {
    float: left;
    width: 215px;
    padding-left: 16px;
}

.afterSeSrv li h3 {
    font-weight: bold;
    line-height: 50px;
}

.afterSeSrv li .seSrvProj a {
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.afterSeSrv li a {
    display: block;
    line-height: 28px;
    color: #666666;
    font-size: 14px;
}

.afterSeSrv li:nth-child(5) {
    width: 125px;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #cecece;
}

.afterSeSrv li .weiChat {
    background: url(../img/bottom.png) -8px -400px;
    width: 125px;
    height: 130px;
}

.footer {
    height: 120px;
    overflow: hidden;
}

.footBj {
    background: url(../img/bottom.png) -8px -308px no-repeat;
    width: 815px;
    height: 85px;
    /* border: 1px solid red; */
    margin: 0 auto;
    overflow: hidden;
}

.policemen {
    width: 36px;
    height: 50px;
    margin-top: 35px;
    float: left;
    margin-left: 235px;
}

.policemen a {
    display: inline-block;
    width: 36px;
    height: 50px;
}

.policemen a img {
    width: 100%;
    height: 100%;
}

.inFor {
    font-size: 13px;
    color: #333333;
    margin-top: 35px;
    float: left;
    margin-left: 10px;
}